:root {
    /** Fonts **/
    --primaryFont : "Source Sans Pro", sans-serif;

    /** Colors **/
    --headerColor : #004b8b;
    --textColor : #45e6264;
    --white : #ffffff;
    --bgFill : #fafafa;
    --footerFill : #004a80;

    --grayColor1 : #e4e8ea;
    --grayColor2 : #c9cdd0;
    --grayColor3 : #94989B;
    --grayColor4 : #7A7D80;
    --grayColor5 : #5e6264;
    --grayColor6 : #43474A;
    --grayColor7 : #292D2F;

    --sepColor1 : #2887b0;
    --sepColor2 : #61a741;
    --sepColor3 : #e9c46a;
    --sepColor4 : #f4a261;
    --sepColor5 : #e76f51;
    --sepColor6 : #970255;

    --flashBlue : #004A80;
    --flashRed : #B21131;
    --flashLightBlue : #2887B0;
    --flashGreen : #61A741;
    --flashYellow : #E9C46A;
    --flashLightOrange : #F4A261;
    --flashDarkOrange : #E76F51;
    --flashPurple : #970255;
}
html {
    min-height: 100%;
    box-sizing: border-box;
    font-size: 62.5%; /* Now 10px = 1 rem! */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    min-height: 100%;
    font-family: var(--primaryFont);
    font-size: 1.6rem;
    background-color: var(--bgFill);
}
a {
    color: var(--flashBlue);
}
a:hover {
    color: var(--flashLightBlue);
    text-decoration: underline;
}
/* ------------------------------------------------------------------------------------------------
   Header Styles
   ----------------------------------------------------------------------------------------------*/
header.site-header {
    background-color: var(--white);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    height: 8rem;
}
header.site-header nav {
    padding: 1.876rem 0 0;
}
header.site-header nav a {
    display: block;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
    header.site-header nav {
        padding: 1.876rem 0 0 2.778rem;
    }
    header.site-header nav a {
        margin: 0;
    }
}
@media only screen and (min-width: 600px) {
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
}
/* ------------------------------------------------------------------------------------------------
   Content Separators
   ----------------------------------------------------------------------------------------------*/
section.content-separator > div.container {
    max-width: 100%;
    padding: 0;
}
section.content-separator div.row,
section.content-separator div.row div.col-2 {
    height: 13px;
}
section.content-separator div.row {
    margin-left: 0;
    margin-right: 0;
}
section.content-separator div.row div.col-2:nth-of-type(1) {
    background-color: var(--sepColor1);
}
section.content-separator div.row div.col-2:nth-of-type(2) {
    background-color: var(--sepColor2);
}
section.content-separator div.row div.col-2:nth-of-type(3) {
    background-color: var(--sepColor3);
}
section.content-separator div.row div.col-2:nth-of-type(4) {
    background-color: var(--sepColor4);
}
section.content-separator div.row div.col-2:nth-of-type(5) {
    background-color: var(--sepColor5);
}
section.content-separator div.row div.col-2:nth-of-type(6) {
    background-color: var(--sepColor6);
}
/* ------------------------------------------------------------------------------------------------
 * - Main Nav Style
 * ----------------------------------------------------------------------------------------------*/
#menu-main-nav {
    justify-content: space-evenly;
    width: 100%;
}
#menu-main-nav li > a {
    display: inline-block;
    position: relative;
}
#menu-main-nav li > a {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--grayColor6);
}
#menu-main-nav li > a::after {
    display: block;
    position: absolute;
    width: .585rem;
    height: .585rem;
    content: '';
    border-top: 2px solid var(--grayColor4);
    border-right: 2px solid var(--grayColor4);
    transform: rotate(45deg);
    right: -1rem;
    bottom: .8rem;
}
/* The collapsible nav for narrow screens */
#main_menu {
    background-color: var(--white);
    padding-left: 1rem;
    margin-bottom: -2.5rem;
}
#main_menu.show {
    z-index: 500;
}
/* ------------------------------------------------------------------------------------------------
   Hero Content Styles
   ----------------------------------------------------------------------------------------------*/
#hero_content  {
    margin-top: .5rem;
}
#hero_content div.hero,
#hero_content div.hero-inner {
    background-color: #f0f3f4;
    border-radius: .3rem;
    margin-top: -.25rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    overflow-y: hidden;
}
#hero_content div.hero #hero,
#hero_content div.hero #hero_xs,
#hero_content div.hero-inner #hero {
    overflow-y: hidden;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

/* two hero divs - #hero_xs and #hero */
#hero_content div.hero #hero_xs {
    height: calc(100vw * .5717);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#hero_content div.hero #hero {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* Inner hero styles */
#hero_content div.hero-inner #hero {
    height: calc(100vw * .5);
    background-size: cover;
}
@media only screen and (min-width: 600px) {
    #hero_content div.hero #hero,
    #hero_content div.hero-inner #hero {
        height: calc(540px * .5625);
    }
}
@media only screen and (min-width: 768px) {
    #hero_content div.hero #hero,
    #hero_content div.hero-inner #hero {
        height: calc(720px * .3572052);
    }
}
@media only screen and (min-width: 1024px) {
    #hero_content div.hero #hero,
    #hero_content div.hero-inner #hero {
        height: calc(960px * .3572052);
    }
}
@media only screen and (min-width: 1280px) {
    #hero_content div.hero #hero,
    #hero_content div.hero-inner #hero {
        height: calc(1140px * .3572052);
    }
}

div.hero #hero > div.page-title,
div.hero-inner #hero > div.page-title {
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
}
div.hero-inner #hero > div.page-title.long-title {
    bottom: 20%;
}
@media only screen and (min-width: 600px) {
    div.hero-inner #hero > div.page-title.long-title {
        bottom: 30%;
    }
}
@media only screen and (min-width: 1280px) {
    div.hero-inner #hero > div.page-title.long-title {
        bottom: 3%;
    }
}
#hero > div.page-title h1 {
    color: var(--white);
    font-size: 4.2rem;
    line-height: 4.4rem;
    font-weight: 700;
    letter-spacing: -.4px;
    text-shadow: 0 2px 4px rgba(0,0,0,.75);
}
div.gallery-archive h2 {
    color: var(--flashBlue);
    font-weight: 700;
    letter-spacing: -.4px;
    font-size: 2.8rem;
    line-height: 3rem;
}
div.gallery-archive h2 > a:hover {
    color: var(--flashLightBlue);
    text-decoration: none;
}
div.section-heading.inner-gallery h3 {
    font-size: 2rem;
    font-weight: 500;
}
div.section-heading.inner-gallery h3 > a:hover {
    color: var(--flashLightBlue);
    text-decoration: none;
}
section.gallery-section div.container:last-of-type {
    margin-bottom: 6rem;
}

#hero_content div.content {
    overflow: hidden;
    background-color: var(--bgFill);
    border-radius: .3rem;
    /*display: flex;*/
    margin-top: .8rem;
    padding: 2.5rem 2rem;
}
@media only screen and (min-width: 375px) {
    #hero_content div.content {
        padding: 3.5rem 2.5rem;
    }
}
@media only screen and (min-width: 600px) {
    #hero_content div.content {
        padding: 5.5rem;
    }
}
@media only screen and (min-width: 1280px) {
    #hero_content div.content {
        padding: 4.5rem 6rem;
    }
}
#hero_content div.front-content h2 {
    color: var(--flashBlue);
    font-size: 3.1rem;
    line-height: 4rem;
    font-weight: 700;
    letter-spacing: -.4px;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    #hero_content div.front-content h2 {
        font-size: 3.6rem;
        line-height: 4.5rem;
        margin-bottom: 2rem;
    }
}
@media only screen and (min-width: 1024px) {
    #hero_content div.front-content h2 {
        font-size: 4.1rem;
        line-height: 5rem;
    }
}
@media only screen and (min-width: 1440px) {
    #hero_content div.front-content h2 {
        font-size: 4.6rem;
        line-height: 5.5rem;
        margin-bottom: 2rem;
    }
}
#hero_content div.front-content p {
    text-align: center;
    color: var(--grayColor5);
    font-size: 1.4rem;
    line-height: 2.2rem;
}
@media only screen and (min-width: 768px) {
    #hero_content div.front-content p {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}
div.prep-download {
    margin: 5.5rem 0 0;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    div.prep-download {
        padding-top: 2rem;
    }
}
@media only screen and (min-width: 1280px) {
    div.prep-download {
        padding-bottom: 2rem;
    }
}
div.container.sponsor-temp div.prep-download {
    padding: 4rem 0;
    margin-top: 0;
}
div.prep-download a {
    color: var(--white);
    background-color: var(--flashLightBlue);
    border-radius: 3px;
    padding: 1.4rem 4.4rem;
    font-size: 1.6rem;
    font-weight: 600;
}
@media only screen and (min-width: 768px) {
    div.prep-download a {
        padding: 1.6rem 5.2rem;
        font-size: 1.8rem;
    }
}
@media only screen and (min-width: 1024px) {
    div.prep-download a {
        padding: 1.8rem 6.8rem;
        font-size: 2.2rem;
    }
}
div.prep-download a:hover {
    background-color: var(--flashGreen);
    text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------
   Video Section Styles
   ----------------------------------------------------------------------------------------------*/
#videos {
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: rgba(40,135,176,0.5);
}
@media only screen and (min-width: 768px) {
    #videos {
        /*margin-bottom: 4.5rem; */
        padding-bottom: 6rem;  /* Uncomment this when Flash wants to add more videos - thumb navs */
    }
}
@media only screen and (min-width: 600px) {
    #videos {
        /*padding-bottom: 15rem; */ /* for the thumbnail navigation - uncomment when Flash wants to add additional videos */
    }
}
@media only screen and (min-width: 1024px) {
    #videos {
        /*padding-bottom: 22rem; */ /* Uncomment for the thumbnail navigation */
        margin-top: 5rem;
    }
}
@media only screen and (min-width: 1280px) {
    #videos {
        /*padding-bottom: 28rem; */ /* for the thumbnail navigation */
        padding-bottom: 6rem; /* Nav temp disabled until more videos available */
    }
}
#videos.temp-layout {
    padding: 0;
    margin-top: 0;
    margin-bottom: 6rem;
}
/* Temp hide 12/3/24 */
/*#videos div.container {
    display:none;
}*/
#videos div.container.sponsor-temp {
    display: block;
}
#videos h3 {
    margin-bottom: 2rem;
}
#videos div.container {
    /*padding: 0;*/
}
#videos div.fp_video_wrapper {
    position: relative;
}
#fp_videos {
    background: transparent;
}
#fp_videos div.rsVideoContainer {
    background: transparent;
}
#fp_videos div.rsBtnCenterer {
    top: 50%;
    width: 6.4rem;
    height: 6.4rem;
    margin-top: -3.2rem;
    margin-left: -3.2rem;
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsBtnCenterer {
        width: 9rem;
        height: 9rem;
        margin-top: -4.5rem;
        margin-left: -4.5rem;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsBtnCenterer {
        width: 11.6rem;
        height: 11.6rem;
        margin-top: -5.8rem;
        margin-left: -5.8rem;
    }
}
#fp_videos div.rsBtnCenterer > div.rsPlayBtn {
    width: 6.4rem;
    height: 6.4rem;
    margin-left: 0;
    margin-top: 0;
}
@media only screen and (min-width: 1024px) {
    #fp_videos div.rsBtnCenterer > div.rsPlayBtn {
        width: 9rem;
        height: 9rem;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsBtnCenterer > div.rsPlayBtn {
        width: 11.6rem;
        height: 11.6rem;
    }
}
#fp_videos div.rsOverflow,
#fp_videos div.rsSlide {
    border-radius: 3px;
}
#fp_videos div.rsGCaption {
    bottom: .5rem;
    background: transparent;
    left: 0 !important;
    padding: 0;
}
@media only screen and (min-width: 1200px) {
    #fp_videos div.rsGCaption {
        padding: 0 2rem;
    }
}
#fp_videos div.rsGCaption > div.rsCaption {
    color: var(--flashBlue);
    font-weight: 700;
    letter-spacing: -.4px;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsGCaption > div.rsCaption {
        font-size: 2.8rem;
        line-height: 3rem;
    }
}
/* Style the thumbnail navigation */
#fp_videos div.rsThumbsHor {
    position: absolute;
    background: transparent;
    width: 75%;
    left: 12.5%;
    height: 6.175rem;
    bottom: -9rem;
}
@media only screen and (min-width: 360px) {
    #fp_videos div.rsThumbsHor {
        width: 65%;
        left: 17%;
    }
}
@media only screen and (min-width: 384px) {
    #fp_videos div.rsThumbsHor {
        width: 80%;
        left: 8%;
    }
}
@media only screen and (min-width: 411px) {
    #fp_videos div.rsThumbsHor {
        width: 85%;
        left: 6%;
    }
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsThumbsHor {
        width: 94%;
        left: 3%;
        bottom: -13rem;
        height: 9.25rem;
    }
}
@media only screen and (min-width: 768px) {
    #fp_videos div.rsThumbsHor {
        width: 97%;
        left: 0;
    }
}
@media only screen and (min-width: 1024px) {
    #fp_videos div.rsThumbsHor {
        height: 13.6rem;
        bottom: -20rem;
        width: 90%;
        left: 5%;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsThumbsHor {
        width: 100%;
        left: 0;
        bottom: -24rem;
        height: 18.5rem;
    }
}
#fp_videos div.rsThumbsHor div.rsThumb {
    width: 10rem;
    height: 6.175rem;
    border-radius: 3px;
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsThumbsHor div.rsThumb {
        width: 15rem;
        height: 9.25rem;
    }
}
@media only screen and (min-width: 1024px) {
    #fp_videos div.rsThumbsHor div.rsThumb {
        width: 22rem;
        height: 13.6rem;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsThumbsHor div.rsThumb {
        width: 30rem;
        height: 18.5rem;
    }
}
#fp_videos div.rsTmb {
    position: relative;
}
#fp_videos div.rsThumb.rsNavSelected {
    background: none;
    border: 2px solid var(--footerFill);
    box-sizing: border-box;
}
#fp_videos div.rsThumb.rsNavSelected img {
    opacity: 1;
}
#fp_videos div.rsTmb > div.thumb-cap {
    position: absolute;
    display: table;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#fp_videos div.rsTmb > div.thumb-cap::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/play-arrow.png);
    background-size: 2.4rem;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsTmb > div.thumb-cap::before {
        background-size: 2.8rem;
        background-position: center 1.5rem;
        opacity: 0.75;
    }
}
@media only screen and (min-width: 1024px) {
    #fp_videos div.rsTmb > div.thumb-cap::before {
        background-size: 4rem;
        background-position: center center;
        opacity: 1;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsTmb > div.thumb-cap {
        background-size: 6rem;
    }
    #fp_videos div.rsTmb > div.thumb-cap::before {
        background-size: 6rem;
        background-position: center center;
        opacity: 1;
    }
}
#fp_videos div.rsTmb > div.thumb-cap p {
    display: table-cell;
    vertical-align: bottom;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    color: var(--white);
    letter-spacing: -.4px;
    opacity: 0;
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsTmb > div.thumb-cap p {
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 600;
        padding-bottom: .75rem;
        padding-left: .5rem;
        opacity: 1;
    }
}
@media only screen and (min-width: 1024px) {
    #fp_videos div.rsTmb > div.thumb-cap p {
        padding-right: .5rem;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsTmb > div.thumb-cap p {
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: 700;
        padding: 0 2.5rem 1.25rem;
    }
}
#fp_videos div.rsPlayBtnIcon {
    border-radius: 50%;
    width: 6.4rem;
    height: 6.4rem;
    background-image: url(../images/play-arrow.png);
    background-size: 2.8rem;
    background-position: 2.1rem 1.7rem;
    background-color: rgba(0,0,0,.35);
}
@media only screen and (min-width: 600px) {
    #fp_videos div.rsPlayBtnIcon {
        width: 7rem;
        height: 7rem;
        background-size: 3.2rem;
        background-position: 2.25rem center;
    }
}
@media only screen and (min-width: 768px) {
    #fp_videos div.rsPlayBtnIcon {
        width: 9rem;
        height: 9rem;
        background-size: 4.2rem;
        background-position: 3rem center;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_videos div.rsPlayBtnIcon {
        width: 11.6rem;
        height: 11.6rem;
        background-size: 4.8rem;
        background-position: 4.25rem center;
    }
}
/* Thumbnail arrow icons */
#fp_thumb_left, #fp_thumb_right {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-left: 4px solid var(--footerFill);
    border-bottom: 4px solid var(--footerFill);
    background: var(--white);
    cursor: pointer;
    bottom: -6.75rem;
}
#fp_thumb_left {
    left: 5%;
    transform: rotate(45deg);
}
#fp_thumb_right {
    right: 5%;
    transform: rotate(-135deg);
}
#fp_thumb_left.rsThumbsArrowDisabled,
#fp_thumb_right.rsThumbsArrowDisabled {
    opacity: .5;
}
@media only screen and (min-width: 600px) {
    #fp_thumb_left, #fp_thumb_right {
        bottom: -9.25rem;
    }
    #fp_thumb_left {
        left: -1.75%;
    }
    #fp_thumb_right {
        right: -1.75%;
    }
}
@media only screen and (min-width: 768px) {
    #fp_thumb_left, #fp_thumb_right {
        width: 2rem;
        height: 2rem;
        bottom: -10.25rem;
    }
    #fp_thumb_left {
        left: 5%;
    }
    #fp_thumb_right {
        right: 5%;
    }
}
@media only screen and (min-width: 1024px) {
    #fp_thumb_left, #fp_thumb_right {
        bottom: -14.75rem;
    }
}
@media only screen and (min-width: 1280px) {
    #fp_thumb_left, #fp_thumb_right {
        width: 2.4rem;
        height: 2.4rem;
        bottom: -15.8rem;
    }
}
/* ------------------------------------------------------------------------------------------------
 * Tweets Section - Front page
 * ----------------------------------------------------------------------------------------------*/
#tweets {
    background-color: var(--flashBlue);
    padding-top: 4rem;
    margin-bottom: 12rem;
    height: 45rem;
}
@media only screen and (min-width: 600px) {
    #tweets {
        height: 30rem;
    }
}
@media only screen and (min-width: 768px) {
    #tweets {
        height: 40rem;
    }
}
div.tweet-wrapper {
    position: relative;
    height: 45rem;
}
@media only screen and (min-width: 600px) {
    div.tweet-wrapper {
        height: 35rem;
    }
}
@media only screen and (min-width: 768px) {
    div.tweet-wrapper {
        height: 40rem;
    }
}
div.tweet-wrapper h3 {
    color: var(--white);
    font-size: 3.1rem;
    line-height: 4rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    div.tweet-wrapper h3 {
        font-size: 3.6rem;
    }
}
#tweets .royalSlider {
    background: var(--white);
    border: 2px solid var(--grayColor1);
    border-radius: 3px;
    position: absolute;
    height: 40rem;
    width: 340px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
@media only screen and (min-width: 414px) {
    #tweets .royalSlider {
        width: 384px;
    }
}
@media only screen and (min-width: 428px) {
    #tweets .royalSlider {
        width: 398px;
    }
}
@media only screen and (min-width: 600px) {
    #tweets .royalSlider {
        width: 510px;
        height: 27rem;
    }
}
@media only screen and (min-width: 768px) {
    #tweets .royalSlider {
        height: 35rem;
        width: 100%;
    }
}
#tweets .rsOverflow,
#tweets .rsSlide {
    background: var(--white);
    color: var(--grayColor5);
}
#tweets .rsOverflow {
    padding: 1rem;
    border-radius: 3px;
}
@media only screen and (min-width: 768px) {
    #tweets .rsOverflow {
        padding: 2rem;
    }
}
@media only screen and (min-width: 1024px) {
    #tweets .rsOverflow {
        padding: 3rem 4rem;
    }
}
@media only screen and (min-width: 1280px) {
    #tweets .rsOverflow {
        padding: 4rem 6rem;
    }
}
div.single-tweet {
    padding: 1rem 1rem 1rem 4rem;
    border: 2px solid var(--grayColor1);
    border-radius: 3px;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
}
@media only screen and (min-width: 768px) {
    div.single-tweet {
        padding: 4rem 6rem;
    }
}
.jcs-author-box {
    float: left;
    clear: both;
    font-size: 1.6rem;
    min-height: 3.2rem;
    margin-bottom: .2rem;
    word-break: break-word;
    width: 100%;
}
.jcs-author-box-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 2.1rem !important;
    position: relative;
}
.jcs-author-box-link a:hover {
    text-decoration: none;
}
a.jcs-author-name {
    text-decoration:underline;
    display: inline-block;
    position: absolute;
    margin-top: .5rem;
}
.jcs-author-avatar {
    clear: both;
    margin: 0 1.3rem 0 -3.6rem;
    float: left;
    /*overflow: hidden;*/
    border: none;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
}
.jcs-author-avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.jcs-verified {
    color: var(--flashLightBlue);
    margin-right: .4rem;
    display: inline-block;
    margin-left: 0;
}
#tweets_rs svg {
    box-sizing: unset;
}
#tweets_rs .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1.6rem;
    vertical-align: -.2rem;
}
#tweets_rs svg:not(:root).svg-inline--fa {
    box-sizing: unset;
    overflow: visible;
    width: 1.6rem;
}
#tweets_rs div.tweet-meta {
    display: inline-block;
    position: absolute;
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 400;
}
div.tweet-meta a {
    color: var(--grayColor6);
}
.jcs-screenreader {
    text-indent: -9999px !important;
    display: inline-block !important;
    width: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    text-align: left !important;
}
#tweets_rs .tweet-content {
    padding-left: 2rem;
    padding-top: 6rem;
}
.tweet-content > p > a:last-of-type {
    display: none;
}
#tweets_rs .tweet-actions {
    display: flex;
    width: 100%;
    padding-left: 2rem;
    margin-top: 1.5rem;
}
.tweet-actions .action-item {
    display: inline-flex;
    flex-basis: 10%;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--flashLightBlue);
}
#tweets_rs .action-item .svg-inline--fa {
    margin-right: .75rem;
    vertical-align: .5rem;
}
/* ------------------------------------------------------------------------------------------------
 * Hotels/Accommodations
 * ----------------------------------------------------------------------------------------------*/
#hotels {
    padding-top: 2rem;
    padding-bottom: 4rem;
}
@media only screen and (min-width: 768px) {
    #hotels {
        padding-bottom: 8rem;
    }
}
.section-heading h3 {
    color: var(--flashBlue);
    font-weight: 700;
    letter-spacing: -.4px;
    font-size: 3.1rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
    .section-heading h3 {
        font-size: 3.6rem;
    }
}
.section-heading.centered h3 {
    text-align: center;
}
@media only screen and (min-width: 1200px) {
    .section-heading h3 {
        margin-bottom: 2rem;
    }
}
div.lodging-wrapper {
    background-color: var(--white);
    border: 2px solid var(--grayColor1);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.08);
    margin-bottom: 4rem;
}
div.lodging {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-size: cover;
    height: 16rem;
}
@media only screen and (min-width: 600px) {
    div.lodging {
        height: 24rem;
    }
}
@media only screen and (min-width: 1024px) {
    div.lodging {
        height: 19.5rem;
        /*width: 37.5rem;*/
    }
}

div.lodging-wrapper > div.info > h4 {
    color: var(--white);
    padding: 1rem 2rem;
    font-weight: 600;
    letter-spacing: -.4px;
    font-size: 2.6rem;
    line-height: 2.8rem;
    min-height: 6.4rem;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    div.lodging-wrapper > div.info > h4 {
        font-size: 2.8rem;
        line-height: 3.4rem;
        min-height: unset;
    }
}
@media only screen and (min-width: 1024px) {
    div.lodging-wrapper > div.info > h4 {
        font-size: 3rem;
        line-height: 3.2rem;
        min-height: 8.4rem;
    }
}
div.info > h4.blue {
    background-color: var(--flashBlue);
}
div.info > h4.red {
    background-color: var(--flashRed);
}
div.info > h4.light-blue {
    background-color: var(--flashLightBlue);
}
div.info > h4.green {
    background-color: var(--flashGreen);
}
div.info > h4.yellow {
    background-color: var(--flashYellow);
}
div.info > h4.light-orange {
    background-color: var(--flashLightOrange);
}
div.info > h4.dark-orange {
    background-color: var(--flashDarkOrange);
}
div.info > h4.purple {
    background-color: var(--flashPurple);
}

div.info > div.info-content {
    height: 13rem;
    padding: 1rem 2rem;
}
div.info-content > p {
    color: var(--grayColor6);
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 0;
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------
 * Sponsors Section
 * ----------------------------------------------------------------------------------------------*/
#sponsors {
    padding: 4rem 0 4rem;
}
@media only screen and (min-width: 1024px) {
    #sponsors {
        padding: 8rem 0 8rem;
    }
}
#sponsors .row {
    background-color: var(--white);
}
#sponsors .row:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#sponsors .row:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#sponsors .section-heading {
    padding: 3rem;
}
#sponsors h4 {
    color: var(--flashBlue);
    font-weight: 400;
    text-align: center;
    letter-spacing: -.4px;
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-bottom: 1.6rem;
    background: url(../images/hr-blue.png) repeat-x left 1.75rem;
    background-size: 2px;
}
@media only screen and (min-width: 1024px) {
    #sponsors h4 {
        font-size: 3.6rem;
        line-height: 5rem;
        background: url(../images/hr-blue.png) repeat-x left 2.75rem;
    }
}
#sponsors h4 span {
    background-color: var(--white);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: relative;
}
#sponsors h4 span::before,
#sponsors h4 span::after {
    display: inline-block;
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}
#sponsors h4 span::before {
    top: 1rem;
    left: .5rem;
}
#sponsors h4 span::after {
    top: 1.1rem;
    right: .5rem;
}
@media only screen and (min-width: 1024px) {
    #sponsors h4 span {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    #sponsors h4 span::before,
    #sponsors h4 span::after {
        width: 2.6rem;
        height: 2.6rem;
    }
    #sponsors h4 span::before {
        left: .4rem;
        top: 1.1rem;
    }
    #sponsors h4 span::after {
        top: 1.2rem;
        right: .4rem;
    }
}
#sponsors h4 span.titanium::before,
#sponsors h4 span.titanium::after {
    background-color: #8f8f8f;
}
#sponsors h4 span.platinum::before,
#sponsors h4 span.platinum::after {
    background-color: #E5E4E2;
}
#sponsors h4 span.gold::before,
#sponsors h4 span.gold::after {
    background-color: #D6B429;
}
#sponsors h4 span.silver::before,
#sponsors h4 span.silver::after {
    background-color: #C6C6C6;
}
#sponsors h4 span.bronze::before,
#sponsors h4 span.bronze::after {
    background-color: #9A5E0E;
}
#sponsors h4 span.general::before,
#sponsors h4 span.general::after {
    background-color: #90C0D4;
}
@media only screen and (min-width: 1024px) {
}
#sponsors div.logo-spreader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 0;
}
@media only screen and (min-width: 768px) {
    #sponsors div.logo-spreader {
        padding-bottom: 4rem;
    }
}
div.logo-spreader > div {
    display: inline-flex;
    flex-basis: 80%;
    margin: 0 0 4rem;
    height: 8rem;
    text-align: center;
}
div.logo-spreader.presenters > div {
    height: auto;
}
@media only screen and (min-width: 768px) {
    div.logo-spreader > div {
        flex-basis: 40%;
        margin: 0 2rem 4rem 0;
        height: 8rem;
        width: auto;
    }
    div.logo-spreader > div:last-of-type {
        margin-right: 0;
    }
}
@media only screen and (min-width: 1200px) {
    div.logo-spreader > div {
        flex-basis: 33%;
        margin: 0 2rem 4rem 0;
        height: 11rem;
        width: auto;
    }
    div.logo-spreader.presenters > div {
        height: 16rem;
    }
}
#sponsors  div.logo-spreader > div > a {
    display: inline-block;
    margin: 0 auto;
    height: 8rem;
    line-height: 8rem;
}
@media only screen and (min-width: 600px) {
    #sponsors div.logo-spreader > div > a {
        height: 12.5rem;
        line-height: 12.5rem;
    }
    #sponsors div.logo-spreader.presenters > div > a {
        height: 14.5rem;
        line-height: 14.5rem;
    }
}
#sponsors div.logo-spreader > div > a > img {
    max-width: 75%;
}
#sponsors div.logo-spreader.presenters > div > a > img {
    max-width: 70%;
}
@media only screen and (min-width: 768px) {
    #sponsors div.logo-spreader > div > a > img {
        max-width: unset;
        max-height: 80%;
    }
    #sponsors div.logo-spreader.presenters > div > a > img {
        max-width: unset;
        max-height: 100%;
    }
}
/*------------------------------------------------------------------------------
-- GALLERY
------------------------------------------------------------------------------*/
#event_gallery {
    padding: 4rem 0 2rem;
    background-color: var(--flashLightBlue);
}
@media only screen and (min-width: 1024px) {
    #event_gallery {
        padding: 8rem 0 6rem;
    }
}
#event_gallery .section-heading h3 {
    margin-bottom: 0;
    color: var(--white);
}
#event_gallery .section-heading h4 {
    color: var(--white);
    font-style: italic;
    letter-spacing: -.4px;
    font-size: 2rem;
    margin-top: 3rem;
}
#event_gallery .section-heading h4 > a {
    color: var(--white);
}
#event_gallery .section-heading.centered h4 {
    text-align: center;
}
#event_gallery .gallery-wrap {
    padding: 0 4.5rem 5rem;
    /*background-color: var(--flashLightBlue);*/
    border-radius: 3px;
}

div[id^='gallery_'] {
    margin: auto;
}
div[id^='gallery_'] .gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 11%;
}
div[id^='gallery_'] img {
    width: 100%;
    height: auto;
    border: 2px solid #cfcfcf;
}
div[id^='gallery_'] .gallery-caption {
    margin-left: 0;
}
.gallery .gallery-item {
    width: 50% !important;
    margin: 0;
    padding: 0 .5rem !important;
}
@media only screen and (min-width: 768px) {
    .gallery .gallery-item {
        width: 25% !important;
    }
}
.gallery .gallery-item img {
    border: none !important;
}
.gallery-item a {
    line-height: 1.5rem;
}
.gallery-item .photo-blog {
    background-color: var(--white);
    display: block;
    width: auto;
    margin: 0 0 2.7rem 0;
    padding: 1rem 1rem 1.5rem 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    border-radius: 3px;
    border: 1px solid var(--grayColor1);
}
.photo-blog .polaroid {
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    max-width: 100%;
    height: auto;
}
/* ------------------------------------------------------------------------------------------------
 * Footer Styles
 * ----------------------------------------------------------------------------------------------*/
footer.site-footer {
    background-color: var(--footerFill);
    padding: 3rem 0;
}
@media only screen and (min-width: 1440px) {
    footer.site-footer {
        padding: 5.7rem 0 3rem;
    }
}
footer.site-footer div.footer-logo {
    text-align: center;
}
/* Footer Menu */
div.footer-nav {
    padding: 0;
    margin: 1.5rem 0;
    text-align: center;
}
@media only screen and (min-width: 375px) {
    div.footer-nav {
        padding: 0 2rem;
    }
}
#menu_footer {
    list-style: none;
    padding-left: 1rem;
}
@media only screen and (min-width: 1440px) {
    #menu_footer {
        padding-left: 0;
    }
}
#menu_footer .menu_items {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    padding-left: 0;
    margin-bottom: 0;
}
#menu_footer .menu_items a {
    color: var(--grayColor1);
}
#menu_footer li {
    position: relative;
    display: inline-block;
    padding: 0 1.5rem 0 0;
}
@media only screen and (min-width: 1440px) {
    #menu_footer li {
        padding: 0 3.1rem 0 0;
    }
}
#menu_footer li:last-of-type {
    padding-right: 0;
}
#menu_footer li:hover a:before {
    color:  #FCE8A4;
}

/* Footer Peril Menu */
div.footer-peril-nav {
    padding: 0;
    margin: 0 0 1.5rem;
    text-align: center;
}
@media only screen and (min-width: 375px) {
    div.footer-peril-nav {
        padding: 0 2rem;
    }
}
#menu_footer_peril {
    list-style: none;
    padding-left: 1rem;
}
@media only screen and (min-width: 1440px) {
    #menu_footer_peril {
        padding-left: 0;
    }
}
#menu_footer_peril .menu_items {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 300;
    padding-left: 0;
    margin-bottom: 0;
}
#menu_footer_peril .menu_items a {
    color: var(--grayColor1);
}
#menu_footer_peril li {
    position: relative;
    display: inline-block;
    padding: 0 1.5rem 0 0;
}
@media only screen and (min-width: 1024px) {
    #menu_footer_peril li {
        padding: 0 2.7rem 0 0;
    }
}
@media only screen and (min-width: 1440px) {
    #menu_footer_peril li {
        padding: 0 3.7rem 0 0;
    }
}
#menu_footer_peril li:last-of-type {
    padding-right: 0;
}
#menu_footer_peril li:hover a:before {
    color:  #FCE8A4;
}
/* Footer Social Menu */
/** 'sr' stands for screen reader and is used for people with vision challenges **/
.sr-text,
.screen-reader-text {
    display: none;
}
div.footer-social-nav {
    padding: 0;
    margin: 2.5rem 0 3rem;
    text-align: center;
}
@media only screen and (min-width: 375px) {
    div.footer-social-nav {
        padding: 0 2rem;
    }
}
#menu_footer_social {
    list-style: none;
    padding-left: 1rem;
}
@media only screen and (min-width: 1440px) {
    #menu_footer_social {
        padding-left: 0;
    }
}
#menu_footer_social .menu_items {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: 300;
    padding-left: 0;
    margin-bottom: 0;
}
#menu_footer_social .menu_items a {
    color: var(--grayColor1);
}
#menu_footer_social li {
    position: relative;
    display: inline-block;
    padding: 0 1.5rem 0 0;
}
@media only screen and (min-width: 1024px) {
    #menu_footer_social li {
        padding: 0 2.7rem 0 0;
    }
}
@media only screen and (min-width: 1440px) {
    #menu_footer_social li {
        padding: 0 3.7rem 0 0;
    }
}
#menu_footer_social li:last-of-type {
    padding-right: 0;
}
/* Set up the initial fa-icons on the list items */
#menu_footer_social li a::before {
    font-family: "Font Awesome 5 Brands";
    display: inline-block;
    vertical-align: top;
    padding: 0 .5rem;
    content: '\f16d';
    font-size: 2rem;
    font-weight: 400;
    color: var(--grayColor1);
    -webkit-font-smoothing: antialiased;
}
#menu_footer_social li a[href*="facebook.com"]::before {
    content: '\f39e'
}
#menu_footer_social li a[href*="twitter.com"]::before {
    content: '\f099'
}
#menu_footer_social li a[href*="youtube.com"]::before {
    content: '\f167'
}
#menu_footer_social li a[href*="podcasts.apple.com"]::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2ce'
}
#menu_footer_social li a[href*="wordpress.org"]::before {
    content: '\f19a'
}

#menu_footer_social li:hover a:before {
    color:  #FCE8A4;
}
/* Footer Copyright */
div.footer-info {
    margin-top: .5rem;
}
div.footer-copyright {
    margin-top: 2.5rem;
}
div.footer-copyright p, div.footer-info p {
    text-align: center;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 400;
}
/* ------------------------------------------------------------------------------------------------
 * Gallery Archive/Single
 * ----------------------------------------------------------------------------------------------*/
div.gallery-archive {
    padding: 4rem 1.5rem 0;
}
